extends ../layout

block content

  script(src='/js/angular/controllers/subject/subject.js')

  .container(ng-controller='subjectCtrl'
    ng-init="init(#{JSON.stringify(careers)}, #{JSON.stringify(subject)})")

    div!= messages()

    form(action="{{isEditing() ? '../update/'+subject.id : '../subject/create'}}", method="post")
      legend Nueva Materia para el semestre {{number}} de {{year}}
      div.col-md-6

        .form-group
          label Carrera
          select.form-control(ng-model='subject.career', ng-options='career.name for career in careers', name='career')
            option(value="") Seleccione la carrera a la que pertenece la materia
            input(name="careerId", value="{{subject.career.id}}", hidden)


        .form-group
          label Carreras donde se dicta
          select.form-control(ng-model="dictate", ng-options="career.name for career in careers")
            option(value="") Seleccione la carrera en la que se dictará la materia
          br

          button.btn.btn-success.pull-right(type="button", ng-click="addDictate(dictate)") Agregar
          br
          br

          div.form-control(ng-repeat="dictateCareer in subject.dictateCareers track by $index")
            div {{dictateCareer.name}}
              button.btn.btn-xs.btn-danger.pull-right(type="button", ng-click="remove(index)")
                span.glyphicon.glyphicon-remove
                input.hidden(name="dictates", type="number", value="{{dictateCareer.id}}")
          br


        .form-group
          label(for='name') Nombre 
          input#name.form-control(ng-model='subject.name' placeholder='Nombre'
            name='name' required maxlength='100')

        .form-group
          label(for='nick') Apodo
          input#nick.form-control(ng-model='subject.nick' placeholder='Apodo (ej: EPERS)'
            name='nick' required maxlength='12')

        .form-group
          label(for='area') Área
          select.form-control(ng-model='subject.area' ng-options='area.name for area in areas' name='area')
            option(value="") Seleccione un área

        .form-group
          label(for='core') Núcleo
          select.form-control(ng-model='subject.core' ng-options='core.name for core in cores' name='core')
            option(value="") Seleccione un núcleo

        .form-group
          label(for='pediod') Período
          input#period.form-control(ng-model='subject.period' name='period' maxlength='100')

        .form-group
          label(for='ocode') Código de Asignatura
          input#name.form-control(ng-model='subject.ocode' placeholder='Código de asignatura'
            name='ocode' maxlength='100')

        .form-group
          label(for='credits') Créditos
          input#credits.form-control(ng-model='subject.credits' placeholder='Créditos'
            name='credits' type='number')

        button.btn.btn-success(type='submit') {{isEditing() ? 'Editar' : 'Crear'}}
        a.btn.btn-danger(href='/subject/list') Cancelar


