extends layout

block content
  link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
  link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/stylesheets/fullcalendar/fullcalendar.css')
  link(rel='stylesheet', href='/stylesheets/fullcalendar.print.css')
  link(rel='stylesheet', href='/stylesheets/grilla.css')
  script(src='/js/lib/jquery.min.js')
  script(src='/js/lib/jquery-ui.custom.min.js')
  script(src='/js/fullcalendar/fullcalendar.min.js')
  script(src='/js/calendarioAcademico/calendarioAcademico.js')
  script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
  script.
    $(document).ready(function() {
         /* inicializar evetos de los cursos sin horaio definido-----------------------------------------------------------------*/
         $('#events div.external-event').each(function() {
            // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
            // it doesn't need to have a start or end
            var eventObject = {
                 title: $.trim($(this).text()) // use the element's text as the event title
                 };
                // store the Event Object in the DOM element so we can get to it later
            $(this).data('eventObject', eventObject);
            // make the event draggable using jQuery UI
            $(this).draggable({
               zIndex: 999,
               revert: true,      // will cause the event to go back to its
               revertDuration: 0  //  original position after the drag
            });            
         });
        /* inicializar el calendario -----------------------------------------------------------------*/      
         var cursosAsignados = !{JSON.stringify(cursosAsignados)} ;
         var calendario=new CalendarioAcademico('#calendar');
         for(i=0;i<cursosAsignados.length;i++){
          calendario.agregarCurso(cursosAsignados[i]._id,
                                  cursosAsignados[i].code,
                                  cursosAsignados[i].horarios[0].dia,
                                  cursosAsignados[i].horarios[0].hora,
                                  cursosAsignados[i].horarios[0].duracion,
                                  cursosAsignados[i].configVista.color);	  
         }
    });

    function actualizarDatorProfesor(legajo,nombre){
             $('#nombre-profesor').text(nombre);
             $('#legajo-profesor').text(legajo);
    }



  ul.nav.nav-tabs
    li.active
      a(href='#tab1', data-toggle='tab') Asignar horarios a los cursos
    li
      a(href='#tab2', data-toggle='tab') Asignar profesores a los cursos
    li
      a(href='#tab3', data-toggle='tab') Asignar aulas a los cursos


  div#calendar

  .tab-content
    #tab1.tab-pane.active
    
      div#wrap
       div#left-options
        div.external-events
         div#events
          h4 Cursos no asignados
          each curso in datos.cursos
           div.external-event #{curso.code}


    #tab2.tab-pane

      div#wrap
        div#left-options
          div.external-events
            div#events
              h4 Profesores no asignados
              each profesor in datos.profesores
                div.profesores(style="cursor:pointer",onclick="actualizarDatorProfesor('#{profesor.legajo}','#{profesor.name}')",data-toggle='modal', data-target='#myModal') #{profesor.legajo}
       
       div(style="clear:both")
      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
       .modal-dialog
        .modal-content(style='text-align:left')
         .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Profesor
         .modal-body
          div
           span(style="float:left;margin-right:4px") Nombre:
           #nombre-profesor
          div
           span(style="float:left;margin-right:4px") Legajo: 
           #legajo-profesor
          div
           span(style="float:left;margin-right:4px") Asignar Curso
           select
            option curso1
          div
           span(style="float:left;margin-right:4px") Cursos asignados: 
         .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
          button.btn.btn-primary(type='button') Guardar


    #tab3.tab-pane

      div#wrap
        div#left-options
          div.external-events
            div#events
              h4 Aulas disponibles
              each aula in datos.aulas
                div(style="cursor:pointer") #{aula}
