extends layout

block content
  link(rel='stylesheet', href='/stylesheets/fullcalendar/fullcalendar.css')
  link(rel='stylesheet', href='/stylesheets/fullcalendar.print.css')
  link(rel='stylesheet', href='/stylesheets/grilla.css')
  link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
  link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
  script(src='/js/lib/jquery-ui.custom.min.js')
  script(src='/js/fullcalendar/fullcalendar.min.js')
  script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
  

  h1 Curso: #{curso.code}

  h2 Comision: #{curso.commission}

  h3 Profesor:
      each profe in curso.mainTeacher
        * #{profe.name}
    select
      option Seleccionar
      each profe in datos.profesores
        option #{profe.name}

  h3 Aula: 
    select
      option Seleccionar
      each aula in datos.aulas
        option #{aula}

  h3 Horarios:
    if curso.schedules != undefined
      each horario in curso.schedules
        * #{weekday[horario.day]}, de #{horario.hour}hs a #{horario.hour + horario.duration}hs
        br
  
  button.btn.btn-primary(type='button') Guardar
  a(href='/cursos')
    button.btn.btn-default(type='button') Volver
