extends ../layout

block content

	script(src='/js/angular/controllers/course/course.js')

	.container(ng-controller='courseCtrl' ng-init='init(#{JSON.stringify(subjects)}, #{JSON.stringify(course)})')

		div!= messages()

		form(action="{{isEditing() ? '../update/'+course.id : '/course/create'}}" method="post")

			legend {{isEditing() ? 'Editar' : 'Nuevo'}} curso para el semestre {{number}} de {{year}}

			div.col-md-6
				.form-group
					label(for='selectSubject') Materia
					select.form-control(ng-model='course.subject' ng-options='subject.name for subject in subjects' required)
						option(value='') Seleccione una materia
						input(name='idSubject' value='{{course.subject.id}}' hidden)


				legend Comisión
				.form-group
					label(for='commission') Número
					input.form-control(ng-model='course.commission' placeholder='Número de comision'
						type='number' min='1' name='commission' required)
					
				.form-group
					label(for='nick') Apodo
					input#nick.form-control(ng-model='course.nick' placeholder='Apodo del curso (ej: EPA para EPERS-C1)'
						name='nick' maxlength='20')

				.form-group
					label(for='modality') Modalidad
					select.form-control(ng-model='course.modality' ng-options='modality.name for modality in modalities' name='modality')
						option(value='') Seleccione una modalidad

				.form-group
					label(for='capacity') Cupo
					input#capacity.form-control(ng-model='course.capacity' placeholder='Cupo del curso'
						name='capacity' type='number' min='1')

				.form-group
					label(for='enrolled') Inscriptos
					input#capacity.form-control(ng-model='course.enrolled' placeholder='Cantidad de inscriptos'
						name='enrolled' type='number' min='0')



				legend Horarios
				.form-group
					label Horarios seleccionados
					div.form-control(ng-repeat="schedule in course.schedules track by $index")
						div {{scheduleAssigned(schedule)}}, durante {{schedule.durationHour}} horas, {{schedule.type}}
							button.btn.btn-xs.btn-danger.pull-right(type="button" ng-click="remove(schedule, index)")
								span.glyphicon.glyphicon-remove
							input.hidden(name="idSchedule" type="number" value="{{schedule.id}}")
							input.hidden(name="durationHour" type="number" value="{{schedule.durationHour}}")
							input.hidden(name="day" type="number" value="{{schedule.day}}")
							input.hidden(name="type"  value="{{schedule.type}}")
							input.hidden(name="hour" type="number" value="{{schedule.hour}}")
					br
					br
					label Nuevo Horario
					select.form-control(ng-model="hour" ng-options="hour for hour in hours")
						option(value="") Seleccione una hora de inicio
					br
					select.form-control(ng-model="durationHour" ng-options="durationHour for durationHour in durations")
						option(value="") Seleccione una duracion en horas
					br
					select.form-control(ng-model="day" ng-options="day.name for day in days")
						option(value="") Seleccione un dia de la semana
					br
					select.form-control(ng-model="scheduleType" ng-options="scheduleType for scheduleType in scheduleTypes")
						option(value="") Seleccione un tipo de horario
					br
					button.btn.btn-success.pull-right(type="button" ng-click="add(hour,durationHour,day,scheduleType)") Agregar

			div.col-md-6
				legend Requisitos
				.form-group
					label(for='numberOfComputers') Computadoras
					input#numberOfComputers.form-control(placeholder='Cantidad de computadoras'
						type="number" min="0" name='numberOfComputers' required maxlength='12' value='0')

				.form-group.hidden
					input.form-control(value='{{number}}' name='semester' type="number")
					input.form-control(value='{{year}}' name='year' type="number")


				legend Características visuales
				.form-group
					label(for='color') Color
					select.form-control(ng-model='course.color' ng-options='color.name for color in colors')
						option(value='') Seleccione un color para la grilla
						input(name='color' value='{{course.color.id}}' hidden)

				button.btn.btn-success(type='submit') {{isEditing() ? 'Editar' : 'Crear'}}
				a.btn.btn-danger(href='/course/list/{{year}}/{{number}}') Cancelar


